dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
assignment1/.vscode/tasks.json
assignment1/code/.vscode/tasks.json
assignment1/code/part2/.vscode/tasks.json
assignment1/code/part2/arithmetic.cabal
assignment1/code/part2/stack.yaml.lock
assignment2/code/part1/.vscode/tasks.json
assignment3/code.zip
assignment3/code/.vscode/settings.json
assignment3/code/.vscode/tasks.json
assignment3/code/part1/.vscode/tasks.json
assignment3/code/part1/src/WarmupReadP.hs
assignment3/code/part1/stack.yaml.lock
assignment3/code/part2/.vscode/launch.json
assignment3/code/part2/.vscode/phoityne.log
assignment3/code/part2/.vscode/settings.json
assignment3/code/part2/.vscode/tasks.json
assignment3/code/part2/examples/test.ast
assignment3/code/part2/src/BoaParser.hs
assignment3/code/part2/stack.yaml.lock
assignment3/code/part2/test.hs
assignment3/code/part2/tests/Test.hs
assignment4/code/part1/async.beam
assignment4/code/part1/src/async.beam
assignment4/code/part2/emoji.beam
assignment4/code/part2/new_test_emoji.beam
assignment4/code/part2/someemoji.beam
assignment4/code/part2/test_emoji.beam
assignment4/code/part2/tests/new_test_emoji.erl
assignment4/onlineta.hs
assignment5/code.zip
assignment5/code/letitbe/.idea/codeStyles/codeStyleConfig.xml
assignment5/code/letitbe/.idea/codeStyles/Project.xml
assignment5/code/letitbe/.idea/inspectionProfiles/Project_Default.xml
assignment5/code/letitbe/.idea/letitbe.iml
assignment5/code/letitbe/.idea/misc.xml
assignment5/code/letitbe/.idea/modules.xml
assignment5/code/letitbe/.idea/vcs.xml
assignment5/code/letitbe/.idea/workspace.xml
assignment5/code/letitbe/.vscode/settings.json
assignment5/code/letitbe/.vscode/tasks.json
assignment5/code/letitbe/letitbe.cabal
assignment5/code/letitbe/src/ExprEval.hs
assignment5/code/letitbe/stack.yaml.lock
assignment5/code/letitbe/tests/ExprProperties.hs
assignment5/code/mystery/src/.eqc-info
assignment5/code/mystery/src/bst.beam
assignment5/code/mystery/src/current_counterexample.eqc
assignment5/code/mystery/src/test_bst.beam
assignment5/code/mystery/src/test_bst.erl
assignment5/code/timesheet.txt
assignment5/onlineta.hs
assignment5/TAGS
assignment6/code.zip
assignment6/code/part1.zip
assignment6/code/part1/.vscode/tasks.json
assignment6/code/part1/async.beam
assignment6/code/part1/src/async.beam
assignment6/code/part1/src/old_async.erl
assignment6/code/part1/test
assignment6/code/part1/test_async.beam
assignment6/code/part1/tests/test_async.erl
assignment6/code/part2/tests/test_rps.erl
assignment6/onlineta.hs
course_code/door.erl
*.beam
*.beam
assignment5/code/mystery/src/test_bst.beam
